// DECLARATION VARIABLES
$couleur-principale: #140f1a;
$couleur-secondaire: #66286b;
$couleur-titre: #edf2f7;
$couleur-alt: #331d08;
$texte: "Poppins", sans-serif;

// Police
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
